@use "./variables" as *;

//                  header mixins

// mixin for header
//  text mixin
@mixin header {
  font-family: $wordle-font-family;
  font-weight: $bold-weight;
  font-size: $header-font-size;
}

//              output grid mixins

// outputGrid
//  text mixin
@mixin output-grid-text {
  font-family: $wordle-font-family;
  font-weight: $semibold-weight;
  font-size: $output-font-size;
}

//             Input button mixins

// text mixin
@mixin input-button-text {
  font-family: $wordle-font-family;
  font-weight: $regular-weight;
  font-size: $input-font-size;
}
