//Global colour palette
$primary-color: #1e1e1e;
$secondary-color: #ffffff;
$tertiary-color: #f06423;

//global font properties
// font families

$header-font-family: "Manrope", sans-serif;
$output-font-family: "Manrope", sans-serif;
$input-font-family: "Montserrat", Verdana;

// font sizes
$header-font-size: 3rem;
$output-front-size: 2rem;
$input-font-size: 1.6rem;

// font weights
$bold-weight: 900;
$semibold-weight: 850;
$regular-weight: 300;
$extra-light-weight: 200;
