//Global colour palette
$primary-color: #1e1e1e;
$secondary-color: #ffffff;
$tertiary-color: #f06423;

//global font properties
// font families

$wordle-font-family: "Manrope", sans-serif;

// font sizes
$header-font-size: 1.5rem;
$output-font-size: 1rem;
$input-font-size: 0.8rem;

// font weights
$bold-weight: 900;
$semibold-weight: 850;
$regular-weight: 300;
