.display-box--match {
  background-color: rgb(12, 121, 12);
  color: white;
}
.display-box--almost {
  background-color: rgb(204, 117, 3);
  color: white;
}
.display-box--wrong {
  background-color: rgb(65, 64, 64);
  color: white;
}
.display-box--active {
  border: 4px solid rgba(27, 27, 241, 0.904);
}
